@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&family=Outfit&family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding:0;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    overflow-x: hidden;
}
p{
    line-height: 2rem;
}
a{
    text-decoration: none;
    transition: .9s;
}
h2, h3, h4, h5, h6{
    font-size:40px;
    text-align:center;
}
img{
    height: auto;
    max-width: 100%;
}
 summary{
    list-style: none;
}
.show{
display:block;
}
.hide{
    display:none;
}
/* Buttons styles */
.btn{
    color:white;
    background-color: #cf9fff;
    border-radius:.4rem;
    border:1px solid white;
    padding: 7px 5px;
    transition: .9s;
    cursor:pointer;
    }
    .btn:hover{
        background-color: #800080;
    }

   /*border- bottom*/
   .services-container h3::after, 
   .teams h3::after,
   .review h3::after{
    content:"";
    display: block;
    margin:0 auto;
    width:20%;
    padding-top: 20px;
    border-bottom: 4px solid #800080;
}
 
/* Nav styles */
nav{
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    color:white;
    display:flex;
    width:100%;
}
.logo{
    font-size:25px;
    flex:1;
}
.logo img{
    width:100px;
    height: 50px;
}
.menu{
     flex:1;
 }
nav ul{
    display:flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
nav li{
display:inline;
/*margin:2rem 0;*/

}
nav a{
    white-space: nowrap;
   margin-left:1rem;
    font-size:18px;
    color:black;
    transition: .9s;
    cursor:pointer;
}
nav a:hover, .service-txt:hover{
    color:#800080;
    font-weight: bold;
}

/*Drop down*/
.service-dropdown{
    display: flex;
    padding: 1rem;
    border-top:4px solid #800080;
    flex-direction: column;
    position: relative;
    top:2rem;
    width:7rem;
    height:200px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
details{
    color:black;
}
.service-txt{
    font-size:18px;
    margin-left: 1rem;
    white-space: nowrap;
}
   /*Slide styling*/
   
   .mySlides {display: none;}

   /* Slideshow container */
   .slideshow-container {
    max-width: 1400px;
     position: relative;
     margin: auto;
   }
   .slideshow-container img{
    opacity: .9;
    width: 1400px;
   }
   /* Caption text */
   .text {
     color: #f2f2f2;
     padding: 8px 12px;
     position: absolute;
    /* bottom: 108px;*/
    top:20%;
     width: 100%;
     color:#1d031d; 
   }
   .text h1{
    font-size:70px;
    text-align:center;
    font-weight: 900;
   }
    .text p{
        margin-top: 2rem;
        font-size:30px; 
       text-align: center;
       font-weight: 700;
    }
   
   /* The dots/bullets/indicators */
   .dot-container{
    text-align:center;
    display: none;
   }
   .dot {
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }
   
   .active {
     background-color: #717171;
   }
   
   /* Fading animation */
   .fade {
     animation-name: fade;
     animation-duration: 1.5s;
   }
   
   @keyframes fade {
     from {opacity: .4} 
     to {opacity: 1}
   }
/* About */
.about-container{
  display: flex;
   margin: 4rem;
   align-items: center;
   justify-content: center;
}
.about-container img{
    width:40%;
}
.about-txt{
   margin-left: 3rem;
}
.about-container p{
    font-size:1.5rem;
    margin-top:3rem;
}
.about-container a{
    color:#4ac6d2;
}
.about-container a:hover{
    color:#1d031d;
}
/*Services*/
.services-container{
    margin-top: 1rem;
}
.container{
    display:flex;
}

.big-text{
    font-size:25px;
    margin-bottom:1rem;
}
.service{
    color:white;
    margin:1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #4ac6d2;
}
.service img{
    max-width:100%;
    height:200px;
}
.service-container-txt{
    color:black;
}
.service-container-txt h4{
    margin-top: 1.5rem;
   font-weight: bold;
}

.service-container-txt p{
    font-size: 18px;
    padding: 1rem;
}
.link{
    color:#1d031d;
    font-weight: bold;  
    padding: .5rem;
}
.link:hover{
    color:#800080;
}

/*Teams*/
.teams{
    margin:3rem 0;
}
.container-team{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom:3rem;
}
.team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-left:1rem;
    /*margin-top:3rem;*/

}
.team p{
    padding:.5rem;
}
.container-team img{
border-radius: 30px;
width:30%;
box-shadow: 2px 2px 2px 2px lightgrey;

}
.container-team h4{
    font-size: 25px;
    margin-top:2rem;
    margin-bottom:2rem;
}
.container-team p{
    padding:1rem;
}
.more{
    display: none;
}
.moreLink, .lessLink{
    color:#4ac6d2;
}
.moreLink:hover, .lessLink:hover,
.moreLink:focus, .lessLink:focus{
color:#1d031d;
}
/*Reviews*/
.review{
    margin-top: 4rem;
}

/* Review container */
.review-container {
    margin-top:2rem;
    position: relative;
   /* background: #f1f1f1f1;*/
   background-color: #cf9fff;
  }
  
  /* Reviews */
  .myReviews {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .back, .front {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .front {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .back:hover, .front:hover {
    background-color: #1d031d;
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dots-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #cf9fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dots:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {
    font-style: italic;
    color:white;
    line-height: 1.7;
}
  
  /* Add a blue color to the author */
  .author {
    color:#1d031d ;
    margin-top:1rem;
    font-weight: bold;
}



/*******Pages *******/
/*Consulting*/
.banner{
    width:100%;
    height:600px;
    background-image: url('images/slide3.jpg');
    background-size: cover;
    opacity: .2;
}
.banner-mentor{
    background-image: url('images/img1.jpg');
}
.banner-consult{
    background-image: url('images/consult2.jpg');
}
.banner-speak{
    background-image: url('images/speak2.jpg');
}
.consulting h1{
color:#1d031d;
text-align: center;
font-size: 80px;
margin-top: 6rem;
font-weight: 900;
}
.page-text{
margin-top:4rem;
margin-left: 2rem;
}
.page-text p{
    font-size: 25px;
}
.policy{
    margin-top: 3rem;
}
.policy ul{
    list-style: circle;
    margin:2rem;
}
.policy li{
    font-size: 20px;
    padding: 1rem;
    margin-top:1rem;
}
.container-media{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-media img{
    max-width: 40%;
    height: auto;
    margin: 1rem;
}
/*News*/
.blog-container{
    margin-top: 4rem;
}
.blog-img{
width:100%;
height:auto;
}
.blog1, .blog2{
padding:3rem;
margin-left: 1rem;
box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.blog-container p{
    padding: 1.5rem;
    margin-bottom: 1.5rem; 
    font-size:18px;  
}
.blog-container span{
display:block;
margin:5px;
}
.blog-container h2{
    width:100%;
    font-size:30px;
}

/*Contact*/
.contact-container{
    margin-top: 1rem;
}
form{
    background-color: white;
}
.forms-container{
  display: flex;
  margin-top:4rem;
}
.forms-container span{
    color:red;
}
.forms-container p{
    text-align: center;
    font-size: 18px;
    margin:1rem;
}
.form1, .form2{
    flex:1;
}
.form1{
    margin-top: 3rem;
}
.form2{
    border-left: 5px solid #800080;
}
.form-field{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-field input{
width:50%;
padding:.5rem;
font-size: 1rem;
margin: .5rem;
}
.form-field label{
    width:50%;
    font-size: 1.2rem;
}
.form-field textarea{
    width:50%;
padding:1rem;
font-size: 1rem;
margin: .5rem;
}
.submit{
    outline:none;
    border:none;
    background-color: #800080;
    color:white;
    cursor:pointer;
    transition: 1s;
    border-radius:.5rem
}
.submit:hover{
    background-color: #cf9fff;
}

/*Footer */
footer{
    color:white;
    background-color: #1d031d;  
    margin-top: 4rem; 
}
.footer-container{
    display:flex;
    justify-content: space-between;
    margin:0 1rem;
}
.footer-container p{
    margin-top:1rem;
    font-size: 17px;
}

.footer-container span{
font-weight: bold;
}
.socials{
display:flex;
}
.socials i{
    margin: 1rem;
    cursor:pointer;
    padding:.4rem;
    font-size: 25px;
}
.socials i:hover{
    border-radius: 100%;
    background-color: #800080;
}
.socials a{
    color:white;
}

.attributions{
    margin-top:2rem;
}
.attributions a{
    color:white;
    font-weight: bold;
}
.attributions a:hover{
color:lightgray;
}





/*Media Queries */

@media(max-width:768px){
    body{
        transition: 1s;
    }
.show{
    display:none;
}
.hide{
    display:block;
}
        /*Menu*/
.logo{
          margin-top:.9rem;
            flex:2; 
        }

nav li{
     margin-bottom:.75rem;
 display:block;
 margin-right:2.5rem;
}
nav a{
    margin:0;
}
    .menu-open{
     cursor:pointer;
      font-size:1.75rem;
      margin-top:.7rem;
      margin-left:-3.75rem;
      color: #800080;
    }
    .menu-close{
       position: absolute; 
       top:0;
    }
/*Drop down*/
.service-dropdown{
    height:100px;
    top:0;
}
.service-dropdown a{
    margin-top: 1rem;
}
.service-txt{
    margin-left: 0;
}
/*Slide*/
.text p{
    font-size:20px;  
    margin-top:0rem;
    width:90%;
}
.text h1{
    font-size:30px;  
    font-weight: bolder; 
}

    
/* About */
.about-container{
    width:100%;
   padding:2rem;
   flex-direction:column-reverse;
   margin:0 auto;
}
.about-container img{
    width:95%;
    margin:0 auto;
}
.about-txt{
    margin-left: .2rem;
    margin-bottom: 2rem;
 }
.about-container h2{
    margin-top:-1rem;
    margin-left:0rem ;
}
.about-container p{
    width:85%;
    font-size:1.45rem;
    margin-top:3rem;
    margin-left: 0rem;
}
.service{
    padding-bottom: 1rem;
}

.container{
    flex-direction: column;
}
/*Teams*/
.container-team{
  grid-template-columns: 1fr;
}
.team{
    margin:2.5 0;
    
}
.team img{
    margin-top: 5rem;
}
/*Footer */
.founder-text{
    margin-right:-7rem ;   
font-size:33px;
}
.footer-container{
    margin:0 .4rem;
}
.address p{
    font-size: 15px;
}
.footer-container{
    flex-direction: column;
}

/*******Pages *******/
/*Consulting*/
.consulting h1{
    font-size: 60px;
    margin-top:5rem;
    }
/*Media**/
/*Contact**/
.container-media img{
    max-width: 80%;
}
.forms-container, .container-media{
    flex-direction: column;
}
.form1{
    margin-top: 3rem;
    margin-bottom: 10rem;
}
.form2{
    border-left: 5px solid white;
    border-top:5px solid #800080;
}
}